/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

li {
	display: inline;
	list-style: none;
	font-family: sans-serif;
	font-weight: 900;
	font-size: 1,3em;
}

.socials {
	float: right;
}

#video {
	position: absolute;
	margin: 0;
	padding: 0;
	border: 0;
}